.section-text-image.page-width {
    padding-left: 0;
    padding-right: 0;
}
.section-text-image__wrapper {
    width: 77%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
}
.section-text-image__wrapper .section-text-image {
    width: 147%;
    position: absolute;
    height: 80%;
    filter: blur(10px);
    background-color: #E7EEF4;
    z-index: -2;
    top: 8%;
    right: -18%;
}
.section-text-image__image {
    position: relative;
}
.section-text-image__image__wrapper {
    width: 42%;
    margin: auto;
    z-index: 2;
    display: flex;
    justify-content: end;
}
.section-text-image__container {
    width: 68%;
}
.section-text-image__wrapper .section-text-image img {
    width: 100%;
    height: 100%;
}
.section-text-image__wrapper .section-text-image__body {
    width: 50%;
}
.section-text-image__content .section-title {
    margin: 0;
    font-weight: var(--font-heading-family);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.section-text-image__body .section-content p {
    font-size: 16px;
    line-height: 150%;
    color: #1f1f1f;
}
.section-content__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-content__wrapper .section-content .italic-text {
    font-style: italic;
    font-family: var(--font-heading-family);
    font-size: 22px;
    color: #1f1f1f;
    line-height: 110%;
}
.section-content__wrapper .section-content .common-text {
    line-height: 150%;
    color: #1f1f1f;
    font-size: 16px;
}
@media(max-width: 768px) {
    .section-text-image__wrapper {
        flex-direction: column-reverse;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        gap: 40px;
    }
    .section-text-image__wrapper .section-text-image__body {
        width: 100%;
    }
    .section-content__wrapper {
        gap: 20px;
    }
    .section-text-image__wrapper .section-text-image {
        margin: 40px 0;
        top: 0;
    }
    .section-content__wrapper .section-content .italic-text {
        font-size: 18px;
    }
    .section-text-image__image__wrapper {
        width: 65%;
        justify-content: center;
    }
    .section-content__wrapper .section-content .common-text {
        font-size: 15px;
    }
}
@media(max-width: 600px) {
    .section-text-image__wrapper .section-text-image {
        top: -8%
    }
}